body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#Login {
    height: 400px;
    width: 400px;
    background-color: #273248;
	border-radius: 20px;
}
#Register {
	height: 550px;
	width: 400px;
	background-color: #273248;
	border-radius: 20px;
}

#paginaOculta {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff; /* Puedes cambiar el color de fondo si es necesario */
    overflow-y: auto; /* Para permitir el desplazamiento si el contenido es largo */
}

.elegant-title {
    color: aliceblue;
    font-family: 'Georgia', serif;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.radioColor {
	color: aliceblue;
	font-family: 'Georgia', serif;
	font-size: 1.2em;
	margin-bottom: 10px;
}
.modern-input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.modern-input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.button-container {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.buttonSeccion {
	margin: 20px;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid aliceblue;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.buttonSeccion:hover {
    background-color: aliceblue;
    color: #273248;
    transform: scale(1.05);
}
/*Login//////////////////////////////*/
p{
	text-indent: 25px;
}


nav{
	background:#273248;
	padding:20px;
	margin:-10px -8px 15px -10px;
	font-family:"usuzi", times, serif;
}
figure {
    text-align: center; /* Centrar la imagen y la leyenda */
    margin: 20px; /* Margen alrededor del figure */
}

figcaption {
    font-size: 14px; /* Tamaño de la letra de la leyenda */
    color: #666; /* Color de la letra de la leyenda */
    margin-top: 10px; /* Espacio entre la imagen y la leyenda */
}
		.Mayor{
					display:inline-block;
					color:#ffebd2;
					text-decoration:none;
					font-size:20px;
					margin:-5px;
					cursor:default;
		        }		
		.orden{
			display:flex;
			justify-content:flex-end;
		}
				.bloque{
					display:flex;
					color:#ffebd2;
					text-decoration:none;
					margin-right:8px;
					font-size:20px;
					margin:-16px 10px 0px 0px;
				}
				.bloque:hover{
					color:white;
					font-size:30px;
				}
.contenedor-1{
	display:flex;
	justify-content:center;
	cursor:default;
}				
		.section-1{
			background:#273248;
			padding:30px 70px 30px 70px;
			border-radius:100px;
			border:2px solid black;
		}	
				.promo-1{
					color:white;
					margin:2px;
					text-align:center;
					font-family:"Alone On Earth", times, serif;
				}	
.destacado{
	margin-top:10px;
	border:3px solid black;
	cursor:default;
}				
		.Titulo-1{
			font-family:"Alone On Earth", times, serif;
			text-align:center;
		}
		.texto-1{
			text-align:center;
					font-family:"Alone On Earth", times, serif;
		}
		.destacado-publicidad{
			margin-top:10px;
			border:3px solid black;
			display:flex;
			flex-direction:row;
		}
				.destacados{
					display:flex;
					flex-direction:column;
					align-items:center;
					font-family:"Alone On Earth", times, serif;
					flex:10 3;
				}
					.Contenedor{
						display:flex;
						background:#273248;
						margin-top:15px;
						margin-bottom:15px;
						width:90%;
						color:white;
						border-radius:20px;
						text-align:center;
						}
						.separate-1{
						display:flex;
						flex:5 3;
						text-align:center;
						flex-direction:column;
						align-items:center;
						cursor:default;
					}
					.separate-2{
						display:flex;
						flex:6 1;
						flex-direction:column;
						align-items:center;
						font-size:20px;
						cursor:default;
					}
						img{
							margin-top:15px;
							border-radius:15px;
						}
							.padding-img{
								padding:15px;
							}
						h2{
							color:#73f6a6;
						}
						button{
							margin-bottom:10px;
							width:15%;
						}
				.publicidad{
					display:flex;
					flex-direction:column;
					align-items:center;
					flex:3 5;
					margin:25px 20px 25px 0px
				}	
.articulos-2{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	font-family:"Alone On Earth", times, serif;
}			
			.Contenedor-2{
				background:#273248;
				margin:25px 15px 15px 15px;
				width:250px;
				text-align:center;
				font-size:18px;
				color:white;
				border-radius:20px;
			}
				button{
					width:35%;
				}
.atras-siguiente{
	display:flex;
	justify-content:center;
}				
		.pagina{
			margin-top:10px;
			margin-left:10px;
			text-decoration:none;
			color:blue;
			font-size:20px;
		}
footer{
	background:#5d5e59;
	padding:0px 5px 10px 15px;
	margin:5px -5px -10px -25px;	
}
		.final{
			text-align: center;
			color:white;
		}
.sociales{
		display:flex;
		justify-content:center;
	}	
@media all and (max-width:760px){	
	nav{
		background:#273248;
		padding:20px;
		margin:-10px -8px 15px -10px;
		font-family:"usuzi", times, serif;
	}
			.Mayor{
						display:inline-block;
						color:#ffebd2;
						text-decoration:none;
						font-size:15px;
						margin:-4px;
					}		
			.orden{
				display:flex;
				justify-content:flex-end;
			}
					.bloque{
						display:flex;
						color:#ffebd2;
						text-decoration:none;
						margin-right:8px;
						font-size:15px;
						margin:-12px 10px 0px 0px;
					}
					.bloque:hover{
						font-size:15px;
					}
	.destacado-publicidad{
			margin-top:10px;
			border:3px solid black;
			display:flex;
			flex-direction:column;
			align-items:center;
		}
				.padding-img{
							padding:0px;
						}
		.destacado{
			flex-direction:column;
			align-items:center;
		}
		.Contenedor{
			display:flex;
			flex-direction:column;
		}
}	
@media all and (max-width:590px){
	nav{
	background:#273248;
	padding:20px;
	margin:10px 8px 15px 10px;
	border-radius:15px;
	display:flex;
	flex-direction:column;
	align-items:center;
	font-family:"usuzi", times, serif;
}
		.Mayor{
			color:#ffebd2;
			text-decoration:none;
			font-size:30px;
		}
			.orden{
			display:flex;
			flex-direction:column;
			align-items:center;
			font-family:"usuzi", times, serif;
		}
		.bloque{
			background:white;
			padding:5px 20px 5px 20px;
			color:#273248;
			text-decoration:none;
			margin-top: 5px;
			font-size:15px;
			border: 2px solid black;
		}
		.bloque:hover{
					color:#273248;
					font-size:15px;
				}
				.detallado2{
					padding:5px 13px 5px 13px;
				}
				.detallado3{
					padding:5px 18px 5px 18px;
				}
				.detallado4{
					padding:5px 40px 5px 40px;
				}
				.detallado5{
					padding:5px 30px 5px 30px;
				}
}			